  body {
    background-color: darkgoldenrod;
    padding: 0;
    margin: 0;
  }
  .container {
    column-gap: 0;
    row-gap: 0;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    
  }
  .polaroid {
    width: 100px;
    height: auto;
  }
  .polaroid img {
    width: 100%;
    height: auto;
    border: 10px solid brown;
  }
  .split {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
  }
  #header {
    display: flex;
    align-items: center;
  }